#body {
    -fx-background-image: url('/view/img/Sky.jpg');
    -fx-background-repeat: stretch;
    -fx-background-position: center;
}

.bottom-container {
    -fx-background-color: rgba(44, 74, 102, 0.9);
}
.days_background{
    -fx-background-color: #293642;
    -fx-background-radius: 50;
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-alignment: center;
}
#weeklyForecastContainer {
    -fx-spacing: 10;
}

.firstDay_temperature {
    -fx-font-size: 42px;
    -fx-text-fill: white;
}
.otherDays_temperature {
    -fx-font-size: 24px;
    -fx-text-fill: white;
    -fx-alignment: center;
}

.textButton {
    -fx-background-color: #357ed3;
    -fx-text-fill: white;
    -fx-border-radius: 10%;
    -fx-outline: none;
}
.textButton:hover {
    -fx-background-color:#183881;
}



